
@font-face {
    font-family: Druk Medium;
    src: url(fonts/Druk-Medium.woff);
}

@font-face {
    font-family: Amarelinha Bold;
    src: url(fonts/Amarelinha-Bold.woff);
}

@import 'reset';
@import 'variables';

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



body {
    background-color: $secondary-color;
    font-family: $copy-font;
    font-size: 18px;
    color: $copy-color;
}

p {
    line-height: 1.4;
}

h1 {
    font-size: $heading-size;
    font-family: $heading-font;
}

a {
    font-family: $heading-font;  
    text-transform: uppercase;
    text-decoration: none;
    font-size: 28px;
}

div.borders {

    .top {
        position: fixed;
        top: 0;
        left: 0;
        height: 12px;
        width: 100%;
        background-color: $primary-color;
    }

    .right {
        position: fixed;
        top: 0;
        right: 0;
        width: 12px;
        height: 100%;
        background-color: $primary-color;
    }

    .bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 12px;
        width: 100%;
        background-color: $primary-color;
    }

    .left {
        position: fixed;
        top: 0;
        left: 0;
        width: 12px;
        height: 100%;
        background-color: $primary-color;
    }

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    @media (max-width: 530px) {
        padding: 0 30px;
    }

    img.logo {
        height: 130px;
    }

    div.join-us {
        position: relative;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            transform: translate(-50%, -50%);
            font-family: Druk Medium;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 100%;
            text-align: center;
            font-size: 18px;
                }

        img.blinker {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -24px;
            width: 74px;
            transition: opacity 0.2s ease;
            animation: blink 1s ease infinite;
        }

        img.blinker-two {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(180deg);
            margin-top: 42px;
            width: 74px;
            transition: opacity 0.2s ease;
            animation: blink 1s ease infinite;
        }
    }
}

section.hero {
    min-height: 100vh;
    width: 100vw;
    display: flex;

    @media (max-width: 1000px) {
        flex-direction: column;
        height: 100%;
    }

    div {
        width: 50vw;

        @media (max-width: 1000px) {
            width: 100vw;
        }
    }

    div.left {
        background-image: url(img/hero-img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 50vw;

        @media (max-width: 1000px) {
            width: 100vw;
            height: 60vw;
        }
    }

    div.right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 1000px) {
            width: 100vw;    
        }

        h1 {
            font-family: $heading-font;
            text-transform: uppercase;
            font-size: $heading-size;
            text-align: center;
            max-width: 520px;
            color: $secondary-color;
            z-index: 2;

            @media (max-width: 1000px) {
                font-size: 80px;
            }

            @media (max-width: 530px) {
                font-size: 60px;
                max-width: 430px;
            }
        }

        p {
            margin-top: 60px;
            text-align: center;
            padding: 0 60px;

            @media (max-width: 530px) {
                padding: 0 30px;
            }
        }

        a.hero-lg-btn {
            width: 80%;
            display: inline-block;
            padding: 30px;
            margin-bottom: 50px;
            position: relative;
            text-align: center;
            color: $secondary-color;

            @media (max-width: 1000px) {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        div.hero-title {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 60px;

            img {
                position: absolute;
                top: -12px;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
                width: 490px;

                @media (max-width: 1000px) {
                    width: 420px;
                }

                @media (max-width: 530px) {
                    width: 320px;
                }
            }
        }

        div.title-wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}


// main {
//     padding: 0 30px;
// }

section.about {

    padding: 240px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width: 1000px) {
        padding: 200px 30px;
    }

    @media (max-width: 530px) {
        padding: 120px 30px 180px 30px;
    }

    div.about-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin-bottom: 80px;

        div.about-title--wrap {
            position: relative;

            h1 {
                color: $secondary-color;
                padding: 12px 20px 0 20px;
                font-size: $heading-size;

                @media (max-width: 530px) {
                    font-size: 70px;
                }
            }
    
            img {
                width: 400px;
                height: 120px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

                @media (max-width: 530px) {
                    width: 289px;
                    height: 98px;
                }
            }

        }
    }


    p {
        max-width: 730px;
        text-align: center;
    }

    p.m-btn-sm {
        margin-bottom: 30px;
    }

    img.halo {
        margin-bottom: 20px;
    }

    img.watermelon {
        position: absolute;
        top: 350px;
        left: 10%;

        @media (max-width: 630px) {
            display: none;
        }
    }

    img.phone {
        position: absolute;
        top: 350px;
        right: 10%;

        @media (max-width: 630px) {
            display: none;
        }
    }

    img.knife-fork {
        position: absolute;
        bottom: 90px;
        left: 20%;

        @media (max-width: 1000px) {
            bottom: 28px;
        }

        @media (max-width: 630px) {
            display: none;
        }
    }

    img.bread {
        position: absolute;
        bottom: 100px;
        right: 20%;

        @media (max-width: 1000px) {
            bottom: 20px;
        }

        @media (max-width: 630px) {
            display: none;
        }
    }


}

section.call-to--action {
    height: 60vw;
    width: 100vw;
    color: white;
    background-image: url(img/bg-xl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 630px) {
        height: 100vh;
    }

    img.underline-large {
        width: 452px;

        @media (max-width: 630px) {
            width: 320px;
        }
    }


    div.action-title {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
        padding: 0 30px;

        h1 {
            text-transform: uppercase;
            font-size: 74px;
            max-width: 540px;
            text-align: center;
            margin: auto;

            @media (max-width: 630px) {
                font-size: 60px;
             }
        }

        h1 span {
            font-family: $secondary-font;
        }

        img.blinker-white {
            position: absolute;
            top: 0;
            left: 50%;
            margin-top: -45px;
            width: 77px;
            transform: translateX(-50%);
        }

        img.blinker-white--two {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) rotate(180deg);
            margin-bottom: -40px;
            width: 77px;
        }

    }

    div.email-us {
        position: relative;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            color: $primary-color;
            transform: translate(-50%, -50%);
            font-family: Druk Medium;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 100%;
            text-align: center;
            font-size: 22px;
        }
    }
}


footer {
    display: flex;
    padding: 60px;
    justify-content: space-between;

    @media (max-width: 630px) {
       flex-direction: column;
    }

    div.footer-email {
        width: 50%;
        position: relative;

        @media (max-width: 630px) {
            margin-bottom: 60px;
         }

        a {
            color: $primary-color;
            transition: color 0.2s ease;

            &:hover {
                color: $copy-color;
            }
        }

        img {
            position: absolute;
            top: 30px;
            left: -8px;
            width: 130px;
        }
    }

    div.footer-info {
        max-width: 160px;

        @media (max-width: 630px) {
            margin-bottom: 40px;
         }
    }

    div.to-top img {
        width: 20px;
        cursor: pointer;
    }
}