


/* COLOR */
$primary-color: black;
$secondary-color: white;
$copy-color: #585858;


/* TYPOGRAPHY */
$heading-font: Druk Medium;
$secondary-font: Amarelinha Bold;
$copy-font: Arial;



/* SIZES */
$heading-size: 90px;


