@font-face {
  font-family: Druk Medium;
  src: url(fonts/Druk-Medium.woff);
}
@font-face {
  font-family: Amarelinha Bold;
  src: url(fonts/Amarelinha-Bold.woff);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* COLOR */
/* TYPOGRAPHY */
/* SIZES */
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background-color: white;
  font-family: Arial;
  font-size: 18px;
  color: #585858;
}

p {
  line-height: 1.4;
}

h1 {
  font-size: 90px;
  font-family: Druk Medium;
}

a {
  font-family: Druk Medium;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
}

a:hover {
  cursor: url(img/cursor.png) 10 0, pointer;
  /* Legacy */
  cursor: url(img/cursor.png) 10 0, pointer;
  /* FF */
  cursor: -webkit-image-set(url(img/cursor.png) 1x, url(img/cursor-x2.png) 2x) 10 0, auto;
}

div.borders .top {
  position: fixed;
  top: 0;
  left: 0;
  height: 12px;
  width: 100%;
  background-color: black;
  z-index: 3;
}
div.borders .right {
  position: fixed;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
  background-color: black;
  z-index: 3;
}
div.borders .bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 12px;
  width: 100%;
  background-color: black;
  z-index: 3;
}
div.borders .left {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 100%;
  background-color: black;
  z-index: 3;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 60px;
  z-index: 5;
}
@media (max-width: 530px) {
  header {
    padding: 0 30px;
  }
}
header img.logo {
  height: 130px;
  width: 64px;
}
header div.join-us {
  position: relative;
}
header div.join-us p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Druk Medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
header div.join-us img.blinker {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -24px;
  width: 74px;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-animation: blink 1s ease infinite;
  animation: blink 1s ease infinite;
}
header div.join-us img.blinker-two {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
  -ms-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
  margin-top: 42px;
  width: 74px;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-animation: blink 1s ease infinite;
  animation: blink 1s ease infinite;
}

section.hero {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  section.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
}
section.hero div {
  width: 50vw;
}
@media (max-width: 1000px) {
  section.hero div {
    width: 100vw;
  }
}
section.hero div.left {
  background-image: url(img/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  position: relative;
}
section.hero div.left div.coming-soon {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: white;
  width: auto;
  padding: 16px;
  color: #000;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
@media (max-width: 520px) {
  section.hero div.left div.coming-soon {
    bottom: 30px;
    left: 50%;
    background-color: white;
    width: 80%;
    padding: 10px;
    color: #000;
    -webkit-transform: rotate(-2deg) translateX(-50%);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg) translateX(-50%);
  }
}
section.hero div.left div.coming-soon p {
  font-size: 14px;
  text-align: center;
}
@media (max-width: 520px) {
  section.hero div.left div.coming-soon p {
    font-size: 12px;
  }
}
section.hero div.left img.arrow-curved {
  position: absolute;
  bottom: 100px;
  left: 330px;
  width: 36px;
}
@media (max-width: 520px) {
  section.hero div.left img.arrow-curved {
    bottom: 80px;
    left: 50%;
  }
}
@media (max-width: 1000px) {
  section.hero div.left {
    width: 100vw;
    height: 70vw;
  }
}
section.hero div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1000px) {
  section.hero div.right {
    width: 100vw;
  }
}
section.hero div.right h1 {
  font-family: Druk Medium;
  text-transform: uppercase;
  font-size: 90px;
  text-align: center;
  max-width: 520px;
  color: white;
  z-index: 2;
}
@media (max-width: 1100px) {
  section.hero div.right h1 {
    font-size: 80px;
  }
}
@media (max-width: 530px) {
  section.hero div.right h1 {
    font-size: 60px;
    max-width: 430px;
  }
}
section.hero div.right p {
  margin-top: 60px;
  text-align: center;
  padding: 0 60px;
  font-size: 16px;
}
@media (max-width: 530px) {
  section.hero div.right p {
    padding: 0 30px;
  }
}
section.hero div.right a.hero-lg-btn {
  width: 80%;
  display: inline-block;
  padding: 30px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  color: white;
}
@media (max-width: 1000px) {
  section.hero div.right a.hero-lg-btn {
    display: none;
  }
}
section.hero div.right a.hero-lg-btn img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
section.hero div.right div.hero-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
}
section.hero div.right div.hero-title img {
  position: absolute;
  top: -12px;
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 490px;
}
@media (max-width: 1100px) {
  section.hero div.right div.hero-title img {
    width: 420px;
  }
}
@media (max-width: 530px) {
  section.hero div.right div.hero-title img {
    width: 320px;
  }
}
section.hero div.right div.title-wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.about {
  padding: 240px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1000px) {
  section.about {
    padding: 200px 30px;
  }
}
@media (max-width: 530px) {
  section.about {
    padding: 120px 30px 180px 30px;
  }
}
section.about div.about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 80px;
}
section.about div.about-title div.about-title--wrap {
  position: relative;
}
section.about div.about-title div.about-title--wrap h1 {
  color: white;
  padding: 12px 20px 0 20px;
  font-size: 90px;
}
@media (max-width: 530px) {
  section.about div.about-title div.about-title--wrap h1 {
    font-size: 70px;
  }
}
section.about div.about-title div.about-title--wrap img {
  width: 400px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 530px) {
  section.about div.about-title div.about-title--wrap img {
    width: 289px;
    height: 98px;
  }
}
section.about div.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 80px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.about div.quote img {
  margin-bottom: 20px;
  width: 30px;
}
section.about div.quote h2 {
  font-size: 70px;
  font-family: Druk Medium;
  color: black;
  text-transform: uppercase;
  max-width: 480px;
  text-align: center;
}
@media (max-width: 530px) {
  section.about div.quote h2 {
    font-size: 50px;
  }
}
section.about div.quote h2 span {
  font-family: Amarelinha Bold;
}
section.about div.quote img.underline-medium {
  position: absolute;
  bottom: -26px;
  right: 40px;
  width: 236px;
}
@media (max-width: 530px) {
  section.about div.quote img.underline-medium {
    display: none;
  }
}
section.about p {
  max-width: 730px;
  text-align: center;
}
section.about p.m-btn-sm {
  margin-bottom: 30px;
}
section.about img.halo {
  margin-bottom: 20px;
}
section.about img.watermelon {
  position: absolute;
  top: 350px;
  left: 10%;
}
@media (max-width: 630px) {
  section.about img.watermelon {
    display: none;
  }
}
section.about img.phone {
  position: absolute;
  top: 350px;
  right: 10%;
}
@media (max-width: 630px) {
  section.about img.phone {
    display: none;
  }
}
section.about img.knife-fork {
  position: absolute;
  bottom: 90px;
  left: 20%;
}
@media (max-width: 1000px) {
  section.about img.knife-fork {
    bottom: 28px;
  }
}
@media (max-width: 630px) {
  section.about img.knife-fork {
    display: none;
  }
}
section.about img.bread {
  position: absolute;
  bottom: 100px;
  right: 20%;
}
@media (max-width: 1000px) {
  section.about img.bread {
    bottom: 20px;
  }
}
@media (max-width: 630px) {
  section.about img.bread {
    display: none;
  }
}

section.call-to--action {
  height: 60vw;
  width: 100vw;
  color: white;
  background-image: url(img/bg-xl.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 630px) {
  section.call-to--action {
    height: 100vh;
  }
}
section.call-to--action img.underline-large {
  width: 452px;
}
@media (max-width: 630px) {
  section.call-to--action img.underline-large {
    width: 320px;
  }
}
section.call-to--action div.action-title {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  padding: 0 30px;
}
section.call-to--action div.action-title h1 {
  text-transform: uppercase;
  font-size: 74px;
  max-width: 540px;
  text-align: center;
  margin: auto;
}
@media (max-width: 630px) {
  section.call-to--action div.action-title h1 {
    font-size: 60px;
  }
}
section.call-to--action div.action-title h1 span {
  font-family: Amarelinha Bold;
}
section.call-to--action div.action-title img.blinker-white {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -45px;
  width: 77px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
section.call-to--action div.action-title img.blinker-white--two {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
  -ms-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
  margin-bottom: -40px;
  width: 77px;
}
section.call-to--action div.email-us {
  position: relative;
}
section.call-to--action div.email-us p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Druk Medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 630px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
footer div.footer-email {
  width: 50%;
  position: relative;
}
@media (max-width: 630px) {
  footer div.footer-email {
    margin-bottom: 60px;
  }
}
footer div.footer-email a {
  color: black;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
footer div.footer-email a:hover {
  color: #585858;
}
footer div.footer-email img {
  position: absolute;
  top: 30px;
  left: -8px;
  width: 130px;
}
footer div.footer-info {
  max-width: 160px;
}
@media (max-width: 630px) {
  footer div.footer-info {
    margin-bottom: 40px;
  }
}
footer div.to-top img {
  width: 20px;
  cursor: url(img/cursor.png) 10 0, pointer;
  /* Legacy */
  cursor: url(img/cursor.png) 10 0, pointer;
  /* FF */
  cursor: -webkit-image-set(url(img/cursor.png) 1x, url(img/cursor-x2.png) 2x) 10 0, auto;
}

/*# sourceMappingURL=app.css.map */
